{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock %}
{% block body %}

    <style >
        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            background-color: #c0b9c1;
            padding-bottom: 20px;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    <div class="container">
    <nav style="margin: 10px" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('donor_new') }}" >
                        Sign Up
                    </a>
                </li><li class="nav-item">
                    <a class="nav-link" href="{{ path('medicine_request_new') }}" >
                        Medicine request
                    </a>
                </li><li class="nav-item">
                    <a class="nav-link" href="{{ path('doctor_request_new') }}" >
                        Contact Doctor
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-center">
        <p style="    font-size: 15px;
    text-align: left;
    line-height: 25px;
    font-weight: bold;
    border: 2px double white;
    padding: 3px;">Our website specializes in registering donors who wish to donate their organs, where through this website, they can express a desire to donate organs and can also donate after death to fill out the organ donation form. The idea of the form belongs to the custodian of the Two Holy Mosques, King Salman bin Abdulaziz Al Saud, and aims to encourage the community in Saudi Arabia to donate their organs to patients.
            Our website aims to quickly find a suitable donor for the patient and
            facilitate the donation process. It provides services to the donor, including knowing the terms of the donation and booking an appointment for donation quickly where a list of the names of patients who need to donate priority or a patient with a related connection to the donor, and the hospital is offered the closest or available, and after His donation can communicate with the doctor and he can also re-drain the medicine.
        </p>
        <img src="{{ asset('dist/img/donorsplash.png') }}" width="200px">
    <form method="post" class="form-signin">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="username" value="{{ last_username }}" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
{#        <a class="btn btn-lg btn-secondary" href="{{ path('donor_new') }}" >#}
{#            Donor Registration#}
{#        </a>#}
    </form>
    </div>
    </div>
{% endblock %}
