{% extends 'admin/BaseAdmin.html.twig' %}

{% block title %}Doctor Request{% endblock %}

{% block body %}
    <h1>Doctor Request</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ doctor_request.id }}</td>
            </tr>
            <tr>
                <th>QuestionText</th>
                <td>{{ doctor_request.QuestionText }}</td>
            </tr>
            <tr>
                <th>QuestionDate</th>
                <td>{{ doctor_request.QuestionDate ? doctor_request.QuestionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Donor Infos</th>
                <td>{{ doctor_request.donor.firstName ? doctor_request.donor.firstName : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('doctor_request_index') }}">back to list</a>

{% endblock %}
