{% extends 'admin/BaseAdmin.html.twig' %}


{% block title %}Welcome to Administration System{% endblock %}

{% block body %}
        <div class="row">
                <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                                <div class="inner">
                                        <h3>{{ donor_count }}</h3>

                                        <p>Donors</p>
                                </div>
                                <div class="icon">
                                        <i class="fa fa-first-order"></i>
                                </div>
                                <a href="{{ path('donor_index') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                                <div class="inner">
                                        <h3>{{ patient_count }}</h3>

                                        <p>Patients</p>
                                </div>
                                <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="{{ path('patient_index') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                                <div class="inner">
                                        <h3>{{ user_count }}</h3>

                                        <p>User Registrations</p>
                                </div>
                                <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                </div>
                                <a href="{{ path('user_index') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                                <div class="inner">
                                        <h3>{{ hos_count }}</h3>

                                        <p>Hospitals</p>
                                </div>
                                <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="{{ path('hospital_index') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                </div>
                <!-- ./col -->
        </div>


{% endblock %}
