{% extends 'admin/BaseAdmin.html.twig' %}

{% block title %}Donor List{% endblock %}

{% block body %}
    <h1>Donor List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type Donation</th>
                <th>Organ Donation</th>
                <th>Blood Type</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for donor in donors %}
            <tr {{ (donor.hasDonored  == 1 )? "style='background-color: crimson;'"  :"" }}>
                <td>{{ donor.id }}</td>
                <td>{{ donor.firstName }}</td>
                <td>{{ donor.lastName }}</td>
                <td>{{ donor.Email }}</td>
                <td>{{ donor.Phone }}</td>
                <td>{{ ( donor.TypeDonation == 0 )? 'Before Death' : 'After Death'}}</td>
                <td>{{ donor.organDonation }}</td>
                <td>{{ donor.BloodType }}</td>
                <td>
                    <a href="{{ path('donor_show', {'id': donor.id}) }}" class="btn btn-primary">Show infos</a>
                    <form onsubmit="return confirm('Are you sure to delete the donor ?')" action="{{ path('donor_delete' , {'id' : donor.id}) }}"  method="post" style="display: inline-block">
                        <input type="hidden" value="DELETE" name="_method">
                        <input type="hidden" name="_token" value="{{ csrf_token("delete"~donor.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
