{% extends 'admin/BaseAdmin.html.twig' %}

{% block title %}Donor{% endblock %}

{% block body %}
    <h1>Donor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ donor.id }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ donor.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ donor.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ donor.Email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ donor.Phone }}</td>
            </tr>
            <tr>
                <th>Type Donation</th>
                <td>{{ donor.TypeDonation ?'Before death' : 'after death' }}</td>
            </tr>
            <tr>
                <th>Blood Type</th>
                <td>{{ donor.BloodType }}</td>
            </tr>
            <tr>
                <th>Organ donation</th>
                <td>{{ donor.organDonation }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ donor.age }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ donor.weight }}</td>
            </tr>
            <tr>
                <th>Has Donored</th>
                <td>{{ (donor.hasDonored == 0)? "No" : "Yes" }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('donor_index') }}">back to list</a>


{% endblock %}
