{% extends 'base.html.twig' %}

{% block title %}Appointement{% endblock %}

{% block body %}
    <h1>Appointement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointement.id }}</td>
            </tr>
            <tr>
                <th>AppTime</th>
                <td>{{ appointement.AppTime ? appointement.AppTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('appointement_index') }}">back to list</a>

    <a href="{{ path('appointement_edit', {'id': appointement.id}) }}">edit</a>

    {{ include('appointement/_delete_form.html.twig') }}
{% endblock %}
